python-dotenv
openai
fastapi
uvicorn
langchain
langchain_openai
langchain-mongodb
langchain_community
langchain_core
langchain_text_splitters
langchain-chroma
langchainhub
pymongo
pydantic
pyjwt
motor
bs4
jq

